.admin-login .main-content {
    width: 50%;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0,0,0,.4);
    margin: 5em auto;
    display: flex;
}

.admin-login .company__info {
    background-color: #86B817;;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.admin-login .company__logo .fa-android {
    font-size:3em;
}

.admin-login .login_form {
    background-color: #fff;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    border-top:1px solid #ccc;
    border-right:1px solid #ccc;
}

.admin-login .form__input {
    width: 100%;
    border:0px solid transparent;
    border-radius: 0;
    border-bottom: 1px solid #aaa;
    padding: 1em .5em .5em;
    padding-left: 2em;
    outline:none;
    margin:1.5em auto;
    transition: all .5s ease;
    box-shadow: 0 0 5px rgba(0,80,80,.4);
    border-radius: 4px;
}

.admin-login .form__input:focus {
    border-bottom-color: #86B817;;
    box-shadow: 0 0 5px rgba(0,80,80,.4);
    border-radius: 4px;
}

.admin-login .btn {
    transition: all .5s ease;
    width: 70%;
    border-radius: 30px;
    color:#86B817;;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #86B817;;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.admin-login .btn:hover, .admin-login .btn:focus {
    background-color: #86B817;
    color:#fff;
}
.admin-login .company__info .company__logo h2 {
    font-size: 150px; /* Adjusts the size of your <h2> and indirectly the contained SVG icon */
}

@media screen and (max-width: 640px) {
    .admin-login .main-content {
        width: 90%;
        flex-direction: column-reverse;
    }
    .admin-login .company__info {
        display: block; /* This makes the company info visible again on small screens */
        order: 2;
    }
    .admin-login .login_form {
        border-top-left-radius:20px;
        border-bottom-left-radius:20px;
        order: 1;
    }
    .admin-login .company__info .company__logo h2 {
        font-size: 70px; /* Adjusts the size of your <h2> and the contained SVG icon for smaller screens */
    }
    
    .admin-login .company__info .company_title {
        font-size: 1.1rem; /* Makes the text a bit smaller on smaller screens */
    }
}

@media screen and (min-width: 642px) and (max-width:800px) {
    .admin-login .main-content {
        width: 70%;
    }
}

.error-text {
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
}