.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    animation: fade-in 0.5s ease-in-out;
  }
  
  .card1 {
    margin-top: 5rem;
    max-width: 400px;
    background-color: #fbfbfb;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    animation: slide-up 0.5s ease-in-out;
  }
  .card2 {
    margin-top: 5rem;
    max-width: 400px;
    background-color:  #fdfdfd;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    animation: slide-up 0.5s ease-in-out;
  }
  .card3 {
    margin-top: 5rem;
    max-width: 400px;
    background-color: #fefefe;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    animation: slide-up 0.5s ease-in-out;
  }
  
  .cardBody {
    padding: 20px;
  }
  
  .cardTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .cardText {
    color: #777;
    margin-bottom: 20px;
  }
  
  .cardButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cardButton:hover {
    background-color: #0056b3;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes slide-up {
    0% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .countBox {
    background-color: rgba(255, 255, 255, 0.2); /* Adjust this as per your design */
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.countNumber {
    font-weight: bold;
    font-size: 24px; /* Adjust as per your requirement */
    color: #333; /* Adjust as per your requirement */
}

.badgePosition {
  top: -15px;
  right: -15px;
  border-radius: 50%;
  width: 65px;
  height: 61px;
  line-height: 52px;
  font-size: 22px;
  padding-right: 25px;
}

.service-item {
  overflow: visible; /* Ensure that badge isn't clipped */
}