.circular-frame {
    width: 150px; /* Adjust the width and height as needed */
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Set a background color for the frame */
  }
  
  .circular-frame img {
    width: 100%;
    height: auto;
  }
  