.animated_bounceInLeft > * {
  padding: 1em;
}
.company-info {
  background: #86b817;
}
.createCustomer {
  margin: 0 !important;
}

.contact .newCustomerForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.full {
  grid-column: 1/3;
  margin-bottom: 0;
}

.contact .newCustomerForm .newCustomerInput {
  height: 20px;
}
.contact .newCustomerForm .submit-button:hover,
.contact .newCustomerForm .submit-button:focus {
  background: rgb(21, 22, 22);
  color: #fff;
  outline: 0;
  transition: all 0.5s ease-out;
}
@media (min-width: 700px) {
  .animated_bounceInLeft {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .animated_bounceInLeft > * {
    padding: 2em;
  }
}
