.registerManager {
  background: linear-gradient(to right, rgb(100 200 154) 0, #c9d841 100%);
  margin-top: 3%;
  padding: 3%;
  overflow: hidden;
}

.register-left {
  text-align: center;
  color: #fff;
  margin-top: 4%;
}

.register-left .managerImage {
  margin-top: 15%;
  margin-bottom: 5%;
  width: 25%;
  animation: mover 1s infinite alternate;
}

.register-left .paraManager {
  font-weight: lighter;
  padding: 12%;
  margin-top: -9%;
}

.register-right {
  background: #f8f9fa;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}

.formDiv {
  margin-top: 140px;
  margin-left: 50px;
}

.register-heading {
  text-align: center;
  margin-bottom: -15%;
  margin-top: 10px;
}

@media (max-width: 991px) {
  .register-heading {
    font-size: 1.5rem;
  }
}
